@font-face {
  font-family: 'ArialBold';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/arial/ARIALBD.woff");
  }

  @font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/arial/ARIAL.woff");
    }

.icons {
    font-size: 2em;
  }